.hero {
  .animation {

    @media screen and (max-width: 736px) {
        transform: scale(0.9);
    }

    @media screen and (max-width: 667px) {
        transform: scale(0.8);
    }

    @media screen and (max-width: 568px) {
        transform: translateY(5rem) scale(0.5);
    }

    @media screen and (max-width: 480px) {
        transform: translateY(5rem) scale(0.3);
    }

    .camera {
      width: 300px;
      height: auto;
      position: absolute;
      bottom: 0;
      left: calc(50vw - 150px);
      transform: translateY(14rem);
      animation: bounce-up 1s ease forwards;
      z-index: 50;
    }

    .flash {
      width: 5px;
      height: 5px;
      background-color: rgba(255, 255, 255, 0.6);
      border-radius: 5px;
      display: inline-block;
      box-shadow: 0 0 50rem #fff;
      position: absolute;
      bottom: 5.7rem;
      left: calc(50vw + 4.5rem);
      animation: flash 0.2s ease 3s;
      transform: scale(0);
      z-index: 60;
    }

    .photo {
      width: 200px;
      height: auto;
      position: absolute;
      bottom: 2.8rem;
      left: calc(50% - 6rem);
      opacity: 0;
      box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
    }

    .cityscape-photo-container {
      position: absolute;
      width: 200px;
      bottom: 2.3rem;
      left: calc(50% - 100px);
      opacity: 0;
      animation: slide-out 2.4s linear 3.2s forwards;
      z-index: 24;

      .cityscape-photo {
        width: 100%;
        position:absolute;
        bottom:0;
        left:0
      }

      .photo-develop {
        background-color: #fff;
        height: 122px;
        width: 158px;
        position: absolute;
        bottom: 0.5rem;
        left: 2.1rem;
        animation: fade-out 3s linear 4s forwards;
        z-index: 10;
      }
    }

    .coffee-cup-photo {
      transform: rotate(-90deg) scale(0.8);
      animation: coffee-anim 1s ease 1.2s forwards;
      z-index: 12;
    }

    .rhodes-photo {
      animation: rhodes-anim 1s ease 1.2s forwards;
      z-index: 14;
    }

    .me-fola-photo {
      animation: me-fola-anim 1s ease 1.2s forwards;
      z-index: 16;
    }

    .sea-sunset-photo {
      animation: sea-sunset-anim 1s ease 1.2s forwards;
      z-index: 18;
    }
  }
}

@keyframes bounce-up {
  50% {
    transform: translateY(-2rem);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes flash {
  50% {
    transform: scale(200);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes slide-out {
  1% { opacity: 1 }
  100% { transform: translateX(13.2rem); opacity: 1 }
}

@keyframes fade-out {
  0% { opacity: 1 }
  100% { opacity: 0 }
}

@keyframes coffee-anim {
  1% { opacity: 1; }
  100% { transform: translate(-16rem, -5rem) rotate(-105deg); opacity: 1; }
}

@keyframes rhodes-anim {
  1% { opacity: 1; }
  100% { transform: translate(-8rem, -11rem) rotate(3deg); opacity: 1; }
}

@keyframes me-fola-anim {
  1% { opacity: 1; }
  100% { transform: translate(5rem, -10rem) rotate(-3deg); opacity: 1; }
}

@keyframes sea-sunset-anim {
  1% { opacity: 1; }
  100% { transform: translate(15rem, -6rem) rotate(6deg); opacity: 1; }
}
