@font-face {
    font-family: 'Moon Bold';
    src: url('../assets/fonts/moon/moon-bold.eot');
    src: url('../assets/fonts/moon/moon-bold.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/moon/moon-bold.woff2') format('woff2'),
         url('../assets/fonts/moon/moon-bold.woff') format('woff'),
         url('../assets/fonts/moon/moon-bold.ttf') format('truetype'),
         url('../assets/fonts/moon/moon-bold.svg#moonbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Moon Light';
    src: url('../assets/fonts/moon/moon-light.eot');
    src: url('../assets/fonts/moon/moon-light.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/moon/moon-light.woff2') format('woff2'),
         url('../assets/fonts/moon/moon-light.woff') format('woff'),
         url('../assets/fonts/moon/moon-light.ttf') format('truetype'),
         url('../assets/fonts/moon/moon-light.svg#moonlight') format('svg');
    font-weight: normal;
    font-style: normal;
}
