<div class="animation">
  <img class="camera" src="{{ site.baseurl }}/assets/posts/lomo-instant.svg" alt="Lomo Instant" />
  <div class="flash"></div>
  <div class="cityscape-photo-container">
    <div class="photo-develop"></div>
    <img class="cityscape-photo" src="{{ site.baseurl }}/assets/posts/cityscape-photo.svg" alt="Cityscape Photo" />
  </div>
  <img class="coffee-cup-photo photo" src="{{ site.baseurl }}/assets/posts/coffee-cup-photo.svg" alt="Coffee Photo" />
  <img class="rhodes-photo photo" src="{{ site.baseurl }}/assets/posts/rhodes-photo.svg" alt="Rhodes Photo" />
  <img class="me-fola-photo photo" src="{{ site.baseurl }}/assets/posts/me-fola-photo.svg" alt="Me and Fola Photo" />
  <img class="sea-sunset-photo photo" src="{{ site.baseurl }}/assets/posts/sea-sunset-photo.svg" alt="Sea and Sunset Photo" />
</div>
